<!DOCTYPE html>
<html lang="en">
    <body>
      <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}"/>
        <div>
          <link rel="stylesheet" href="{{ url_for('static',filename='css/custom-event.css') }}"/>
            <div class="custom-event-feature-card featuresCard">
                <div class="custom-event-event-block">
                    <div class="custom-event-header">
                        <div class="custom-event-title-block">
                            <h2 class="custom-event-event-title"><span>{{ request.Name }}</span></h2>
                        </div>
                        <div class="custom-event-revard-block">
                            <p class="custom-event-revard-count"><span>{{ request.Reward }}</span></p>
                        </div>
                    </div>
                </div>
                <div class="custom-event-main-content">
                  {% if request.Reward %}
                      <img alt="image" src="data:image/png;base64,{{ request.ImgFIle }}" loading="lazy" class="custom-event-image" />
                      <div class="custom-event-custom-info-block">{{ request.Description }}</div>
                  {% else %}
                    <div class="custom-event-custom-info-block">{{ request.Description }}</div>
                  {% endif %}
                </div>
                <div class="custom-event-event-block1">
                    <div class="custom-event-container">
                        <span class="custom-event-creation-time"><span>{{ request.CreationTime | format_time_since }}</span></span>
                    </div>
                    <div data-thq="thq-dropdown" class="custom-event-menu list-item">
                        <div data-thq="thq-dropdown-toggle" class="custom-event-dropdown-toggle">
                            <div data-thq="thq-dropdown-arrow" class="custom-event-dropdown-arrow">
                                <svg viewBox="0 0 1024 1024" class="custom-event-icon">
                                    <path d="M426 726v-428l214 214z"></path>
                                </svg>
                            </div>
                        </div>
                        <ul data-thq="thq-dropdown-list" class="custom-event-dropdown-list">
                            <li data-thq="thq-dropdown" class="custom-event-dropdown list-item">
                                <div data-thq="thq-dropdown-toggle" class="custom-event-dropdown-toggle1"><span class="custom-event-text3">Скопировать ссылку</span></div>
                            </li>
                            <li data-thq="thq-dropdown" class="custom-event-dropdown1 list-item">
                                <div data-thq="thq-dropdown-toggle" class="custom-event-dropdown-toggle2"><span class="custom-event-text4">Пожаловаться</span></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <script data-section-id="navbar" src="https://unpkg.com/@teleporthq/teleport-custom-scripts"></script>
    </body>
</html>
