.custom-event-350x400-feature-card {
  width: 350px;
  height: 400px;
  min-width: 350px;
  box-shadow: 5px 5px 10px 0px #848181;
  min-height: 400px;
  padding-top: 0px;
  border-color: var(--dl-color-maincolors-accent1);
  border-width: 1px;
  padding-left: 0px;
  border-radius: 5px;
  padding-right: 0px;
  flex-direction: column;
  padding-bottom: 0px;
  justify-content: space-between;
}
.custom-event-350x400-event-block {
  gap: 0;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dl-color-maincolors-accent1);
}
.custom-event-350x400-header {
  width: 100%;
  height: 71px;
  display: flex;
  position: relative;
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  border-color: rgba(120, 120, 120, 0.4);
  border-style: double;
  border-width: 2px;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
  justify-content: space-between;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.custom-event-350x400-title-block {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.custom-event-350x400-event-title {
  width: 100%;
  height: 100%;
  align-self: flex-start;
  text-align: left;
  text-transform: capitalize;
}
.custom-event-350x400-revard-block {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.custom-event-350x400-revard-count {
  color: var(--dl-color-success-300);
  width: 100%;
  height: 100%;
  font-size: 30px;
  align-self: flex-start;
  font-style: normal;
  text-align: left;
  font-weight: 700;
  text-transform: uppercase;
}
.custom-event-350x400-sub-header {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  height: 37px;
  display: flex;
  position: relative;
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: flex-start;
}
.custom-event-350x400-creation-user-type {
  align-self: center;
}
.custom-event-350x400-creator-user {
  align-self: center;
}
.custom-event-350x400-main-content {
  width: 100%;
  height: 100%;
  display: flex;
  align-self: flex-start;
  min-height: auto;
  align-items: flex-start;
  padding-top: 0px;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: space-between;
}
.custom-event-350x400-image {
  align: middle;
  width: 100%;
  height: 150px;
  object-fit: cover;
}
.custom-event-350x400-custom-info-block {
  gap: var(--dl-space-space-unit);
  width: 100%;
  height: 100%;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.custom-event-350x400-button {
  width: 100%;
  height: 55px;
  align-self: flex-start;
  border-width: 0px;
  border-radius: 0px;
}
.custom-event-350x400-event-block1 {
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--dl-color-maincolors-accent1);
}
.custom-event-350x400-container {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.custom-event-350x400-creation-time {
  align-self: flex-start;
}
.custom-event-350x400-text2 {
  align-self: flex-start;
  text-align: left;
}
.custom-event-350x400-users-responded {
  align-self: flex-start;
}
.custom-event-350x400-menu {
  cursor: pointer;
  display: inline-block;
  position: relative;
  align-self: center;
  border-radius: var(--dl-radius-radius-radius2);
}
.custom-event-350x400-dropdown-toggle {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: 0px;
  padding-left: 0px;
  border-radius: var(--dl-radius-radius-radius2);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: 0px;
  justify-content: flex-end;
}
.custom-event-350x400-dropdown-arrow {
  transition: 0.3s;
}
.custom-event-350x400-icon {
  width: 18px;
  height: 18px;
  transition: 0.3s;
}
.custom-event-350x400-dropdown-list {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: var(--dl-color-maincolors-accent1);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-maincolors-accent1);
  list-style-position: inside;
}
.custom-event-350x400-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.custom-event-350x400-dropdown-toggle1 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.custom-event-350x400-dropdown-toggle1:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.custom-event-350x400-text3 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.custom-event-350x400-dropdown1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.custom-event-350x400-dropdown-toggle2 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.custom-event-350x400-dropdown-toggle2:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.custom-event-350x400-text4 {
  color: var(--dl-color-danger-300);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
@media(max-width: 767px) {
  .custom-event-350x400-feature-card {
    flex-direction: column;
  }
  .custom-event-350x400-event-block {
    flex-direction: column;
  }
  .custom-event-350x400-event-block1 {
    flex-direction: row;
  }
}
@media(max-width: 479px) {
  .custom-event-350x400-event-block {
    flex-direction: column;
  }
  .custom-event-350x400-image {
    display: none;
  }
  .custom-event-350x400-event-block1 {
    flex-direction: row;
  }
}
