<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Войти в аккаунт</title>

        {% include "components/default-meta-and-icons.html" %}
    </head>
    <body>
        <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}"/>
        <div>
            <link rel="stylesheet" href="{{ url_for('static',filename='css/login.css') }}"/>
            <div class="form-login-container">
                
                {% include "components/header.html" %}

                <div class="form-login-hero">
                    <div class="form-login-hero1 heroContainer">
                        <div class="form-login-registration-container">
                            <div class="form-login-container1">
                                <h2 class="form-login-description"><span>Войти в учетную запись</span><br /></h2>
                            </div>
                            <form name="loginForm" autocomplete="on" class="form-login-login-form" method="post">
                                <div class="form-login-container2">
                                    <input type="email" id="mailLogin" name="email" required="true" placeholder="Почта" autocomplete="email" class="form-login-textinput input" />
                                    <input type="password" id="pass" name="password" placeholder="Пароль" autocomplete="current-password" class="form-login-textinput1 input" />
                                </div>
                                <button type="submit" class="form-login-submit-button button">
                                    <span class="form-login-text02">Войти</span>
                                </button>
                                <span class="form-login-type-description">
                                    <span>Вы </span><a href="registration.html" class="form-login-navlink">еще не зарегистрированы</a><span>&nbsp;</span><span>или </span><span class="form-login-text08">хотите восстановить доступ</span>
                                    <span>?</span>
                                </span>
                            </form>
                            <h2 id="message" class="form-login-message">
                                {% if ErrorMessage %}
                                    {{ErrorMessage}}
                                {% endif%}
                            </h2>
                        </div>
                    </div>
                </div>
                
                {% include "components/footer.html" %}

            </div>
        </div>
        <script data-section-id="navbar" src="https://unpkg.com/@teleporthq/teleport-custom-scripts"></script>
    </body>
</html>
