<!DOCTYPE html>
<html lang="en">
    <head>
        {% if ProfileUser %}
            <title>Профиль {{ ProfileUser.Surname }}  {{ ProfileUser.Name }} {{ ProfileUser.FatherName }}</title>
            <meta property="og:site_name" content="Профиль пользователя {{ ProfileUser.Surname }}  {{ ProfileUser.Name }} {{ ProfileUser.FatherName }} на платформе валонтерской помощи Весь Добрый Мир"/>
            {% if ProfileUser.Description %}
                <meta property="og:title" content="{{ ProfileUser.Description }}" />
            {% else %}
                <meta property="og:title" content="Меня зовут {{ProfileUser.Name}}! Я очень люблю помогать людям!" />
            {% endif %}
            <meta property="og:description" content="Хотите помочь нуждающемуся человеку или сами нуждаетесь в помощи? Присоеденийтесь к ВДМ!"/>
            <meta property="og:image" content="data:image/png;base64,{{ ProfileUser.Icon }}"/>
        {% elif User %}
            <title>Профиль {{ User.Surname }}  {{ User.Name }} {{ User.FatherName }}</title>
            <meta property="og:site_name" content="Профиль пользователя {{ User.Surname }}  {{ User.Name }} {{ User.FatherName }} на платформе валонтерской помощи Весь Добрый Мир"/>
            {% if User.Description %}
                <meta property="og:title" content="{{ User.Description }}" />
            {% else %}
                <meta property="og:title" content="Меня зовут {{User.Name}}! Я очень люблю помогать людям!" />
            {% endif %}
            <meta property="og:description" content="Хотите помочь нуждающемуся человеку или сами нуждаетесь в помощи? Присоеденийтесь к ВДМ!"/>
            <meta property="og:image" content="data:image/png;base64,{{ User.Icon }}"/>
        {% endif %}

        {% include "components/default-meta-and-icons.html" %}
    </head>
    <body>
        <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}"/>
        <div>
            <link rel="stylesheet" href="{{ url_for('static',filename='css/profile.css') }}"/>
            <div class="page-profile-container">
                
                {% include "components/header.html" %}
                
                <div class="page-profile-hero">
                    <div class="page-profile-hero1 heroContainer">
                        <div class="page-profile-container1">
                            <div class="page-profile-user-info">
                                <div class="page-profile-container2">
                                    {% if ProfileUser.Icon %}
                                        <div class="page-profile-container3"><img alt="image" src="data:image/png;base64,{{ ProfileUser.Icon }}" class="page-profile-image" /></div>
                                    {% else %}
                                        <div class="page-profile-container3"><img alt="image" src="https://i.postimg.cc/L6LrNH6n/user.png" class="page-profile-image" /></div>
                                    {% endif %}
                                    <div class="page-profile-container4">
                                        <h1 id="surname-label">{{ ProfileUser.Surname }}</h1>
                                        <h1 id="name-label">{{ ProfileUser.Name }}</h1>
                                        <h1 id="fatherName-label">{{ ProfileUser.FatherName }}</h1>
                                    </div>
                                </div>
                                <div class="page-profile-container5">
                                    <h1 id="user-info" class="page-profile-text02"><span>Информация:</span><br /></h1>
                                    <span id="discription-label" class="page-profile-text05">
                                        <span>
                                            {% if ProfileUser.Description %}
                                                {{ ProfileUser.Description }}
                                            {% else %}
                                                Меня зовут {{ProfileUser.Name}}! Я очень люблю помогать людям!
                                            {% endif %}
                                        </span>
                                    </span>
                                </div>
                                <div class="page-profile-container6">
                                    <h1 id="organization-info" class="page-profile-text09"><span>Состоит в организации:</span><br /></h1>
                                    <h1 id="organization-name" class="page-profile-text12"><span>Ни в какой организации</span><br /></h1>
                                </div>
                                {% if MyProfile %}
                                    <form action="{{ url_for('profile-edit') }}" method="get">
                                        <button type="submit" class="page-profile-edit-profile buttonFilled button">
                                            <span class="page-profile-text15"><span>Настроить профиль</span><br /></span>
                                        </button>
                                    </form>
                                    <form action="{{ url_for('unlogin') }}" method="get">
                                        <button type="submit" class="page-profile-unlogin buttonFilled button">
                                            <span class="page-profile-text18"><span>Выйти из профиля</span><br /></span>
                                        </button>
                                    </form>
                                {% endif %}
                            </div>
                            <div class="page-profile-helps">
                                <div class="page-profile-container7">
                                    <h1 class="page-profile-text21"><span>Созданные запросы:</span><br /></h1>
                                    <div id="gained-help-container" class="page-profile-gained">
                                        {% if CreatedRequests %}
                                            {% for request in CreatedRequests %}
                                                {% include "components/custom-event.html" %}
                                            {% endfor %}
                                        {% else %}
                                            <span class="page-profile-text18"><span>Ещё никому не помог</span><br /></span>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="page-profile-gived">
                                    <h1 class="page-profile-text24"><span>Участвовал в помощи:</span><br /></h1>
                                    <div id="given-help-container" class="page-profile-gained1">
                                        {% if GivedRequests %}
                                            {% for request in GivedRequests %}
                                                {% include "components/custom-event.html" %}
                                            {% endfor %}
                                        {% else %}
                                            <span class="page-profile-text18"><span>Ещё никому не помог</span><br /></span>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                
                {% include "components/footer.html" %}

            </div>
        </div>
        <script data-section-id="navbar" src="https://unpkg.com/@teleporthq/teleport-custom-scripts"></script>
    </body>
</html>
