<!DOCTYPE html>
<html lang="en">
    <head>
        <title>ВДМ Создать запрос о помощи</title>
        <meta property="og:site_name" content="Нужна помощь? Присоединяся к платформе Весь Добры Мир "/>
        <meta property="og:title" content="Форма содания запроса помощи" />
        <meta property="og:description" content="Хотите помочь нуждающемуся человеку или сами нуждаетесь в помощи? Присоеденийтесь к ВДМ!"/>
        {% include "components/default-meta-and-icons.html" %}
    </head>
    <body>
        <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}"/>
        <div>
            <link rel="stylesheet" href="{{ url_for('static',filename='css/create-event.css.css') }}"/>
            <div class="form-create-event-container">
                
                {% include "components/header.html" %}

                <div class="form-create-event-hero">
                    <div class="form-create-event-hero1 heroContainer">
                        <div class="form-create-event-registration-container">
                            <div class="form-create-event-container01"><h2 class="form-create-event-description">Создать запрос помощи</h2></div>
                            <form name="registrationEventForm" autocomplete="on" class="form-create-event-registration-form" method="post">
                                <div class="form-create-event-container02"><input type="text" id="ftit;e" name="title" required="true" placeholder="Краткий заголовок *" autocomplete="off" class="form-create-event-textinput input" /></div>
                                <div class="form-create-event-container03">
                                    <textarea name="discription" placeholder="Подробное описание проблемы" autocomplete="off" class="form-create-event-textarea textarea"></textarea>
                                </div>
                                <div class="form-create-event-container04">
                                    <div class="form-create-event-container05">
                                        <span class="form-create-event-text input"><span>Дата окончания</span><br /></span>
                                        <input type="date" id="birthDate" max="2026-01-01" name="deadline" autocomplete="bday" class="form-create-event-textinput1 input" />
                                    </div>
                                </div>
                                <div class="form-create-event-container06">
                                    <div class="form-create-event-container07">
                                        <span class="form-create-event-text03"><span>Документы с подробностями (не обязательно)</span><br /></span>
                                        <input
                                            type="file"
                                            id="fileDoc"
                                            name="fileDoc"
                                            accept='doc,.docx,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document"'
                                            multiple=""
                                            placeholder="Дополнительные текстовый файл *"
                                            autocomplete="off"
                                            class="form-create-event-textinput2 input"
                                        />
                                    </div>
                                    <div class="form-create-event-container08">
                                        <span class="form-create-event-text06">Фотография для обложки *</span>
                                        <input type="file" id="fileImg" name="fileImg" accept="image/*" required="true" placeholder="Фотография" autocomplete="off" class="form-create-event-textinput3 input" />
                                    </div>
                                </div>
                                <div class="form-create-event-container09">
                                    <span class="form-create-event-text07 input">
                                        <span>Передавая указанную информацию, вы принимаете </span><span class="form-create-event-text09">условия пользовательского соглашения</span><span>&nbsp;и </span>
                                        <a href="privacy.html" class="form-create-event-navlink">политики конфиденциальности</a><br />
                                    </span>
                                    <span class="form-create-event-text12 input"><span>Отправляя заявку она будет отправлена на проверку нейросети и в ближайшее время опубликована или отклонена.</span><br /></span>
                                </div>
                                <button name="registration" type="submit" class="form-create-event-submit-button button">
                                    <span class="form-create-event-text15"><span>Отправить обращение</span><br /></span>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
                
                {% include "components/footer.html" %}

            </div>
        </div>
        <script data-section-id="navbar" src="https://unpkg.com/@teleporthq/teleport-custom-scripts"></script>
    </body>
</html>
